# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: "Scripting Admins"
name: "Paul den Hertog"

description: >- # this means to ignore newlines until "baseurl:"
  Write an awesome description for your new site here. You can edit this
  line in _config.yml. It will appear in your document head meta (for
  Google search results) and in your feed.xml site description.


# Base and URL settings
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://www.scriptingadmins.com" # the base hostname & protocol for your site, e.g. http://example.com
repository: "Paul-dH/paul-dh.github.io"
github: [metadata]

# Pagination
permalink: /:categories/:title/
breadcrumbs: true  # disabled by default
paginate: 5 # amount of posts to show
paginate_path: /page:num/


# Locale settings
locale: "en-US"
timezone: Europe/Amsterdam
words_per_minute: 190


# Search settings
search: true
search_full_content: true
search_provider: algolia

algolia:
  application_id: QHW2XLEHXT
  index_name: index.html # YOUR_INDEX_NAME
  search_only_api_key: ad0c37e2a347a4b0a180de24e76114da
  powered_by: true # true (default), false


# Category archives
category_archive:
  type: liquid
  path: /categories/

tag_archive:
  type: liquid
  path: /tags/

# Comments
comments:
  provider  : "staticman_v2"

staticman:
  allowedFields: ["name", "email", "url", "message"]
  branch: "master"
  commitMessage: "Add Staticman data"
  filename: "entry{@timestamp}"
  format: "yaml"
  generatedFields:
    date:
      type: date
      options:
        format: "timestamp-seconds"
  moderation: true
  name: "scriptingadmins.com"
  path: "_data/comments/{options.slug}"
  requiredFields: ["name", "email", "message"]
  transforms:
    email: md5


# Defaults
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      read_time: true
      comments: true
      classes: wide


# Build settings
remote_theme: "mmistakes/minimal-mistakes" # theme: minima
minimal_mistakes_skin: "air" # "default", "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum" "sunrise"

markdown: kramdown

kramdown:
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  enable_coderay: false
  syntax_highlighter_opts:
    block:
      line_numbers: true


# Plugins
plugins:
  - jekyll-feed
  - jekyll-paginate
  - jekyll-archives

whitelist:
  - jekyll-feed
  - jekyll-paginate
  - jekyll-archives


# Site Author
author:
  name: "Paul den Hertog"
  avatar: "/assets/images/paul.jpg"
  location: "The Netherlands"
  github: "Paul-dH"
  linkedin: "pauldh"

# Reading files
include:
  - _pages
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/


# HTML Compression - http://jch.penibelst.de
compress_html:
  clippings: all
